$blue-color: #116ACC;
$blue-light-color: #A0C3FF;
$blue-hover: #2F80ED;
$blue-active: #1a4d8f;
$dark-color: #182233;
$light-color: #B3CEE2;
$grey-color: #D9DDE7;
$pink-color: #FD4E5D;
$black-color: #000000;
$grey1-color: #1F2937;
$grey2-color: #374151;
$grey3-color: #4B5563;
$grey4-color: #6B7280;
$grey5-color: #9CA3AF;
$grey6-color: #D1D5DB;
$grey7-color: #F3F4F6;
$white-color: #FFFFFF;
$green-color: #76CA66;
$yellow-color: #FBC756;
$red-color: #BA0000;