@media (min-width: 1921px) {
  body {
    min-width: 1921px;
    max-width: 100%;
  }
  .container {
    width: 100vw;
    margin: 0 auto;
  }
  .headerEntry {
    height: 10%;
  }
  .accountsCardWrapper__card {
    height: 10%;
  }
  .bodyAccount__dynamic__graph {
    width: 100%;
    height: 27vh;
  }
  #myChart {
    width: 100%;
    height: 27vh;
    margin: 0 auto;
  }
  .bodyAccount__dynamic__title2 {
    margin-bottom: 7vh;
  }
  .currenciesWrapper__grid__section3 {
    height: 86%;
  }
  .currenciesWrapper__grid__section3__title {
    margin-bottom: 2vh;
  }
}
@media (max-width: 1199px) {
  body {
    min-width: 1024px;
    max-width: 100%;
  }
  .headerEntry {
    margin-bottom: 23vh;
  }
  .entryWind {
    width: 49vw;
  }
  .form__btn {
    width: 10vw;
  }
  .divHeaderListWrapper {
    position: relative;
    width: 50%;
  }
  .accountsCardWrapper__card {
    height: 180px;
  }
  .accountsCardWrapper__card__date {
    margin-bottom: 7vh;
  }
  .accountsCardWrapper__card__btn {
    position: absolute;
    right: 33%;
    top: 70%;
  }
  .bodyAccount__transfer__form__sum__label {
    text-align: left;
  }
  .bodyAccount__transfer__form__sum__input {
    width: 20vw;
  }
  .bodyAccount__requisite__number {
    font-size: 28px;
  }
  .bodyAccount__transfer__form,
.bodyAccount__dynamic {
    padding: 5% 8%;
  }
  .bodyAccount__history {
    padding: 2% 4%;
  }
  .bodyAccount__history__table__thFrom {
    width: 26%;
    text-align: left;
    padding: 0 1%;
  }
  .bodyAccount__history__table__thTo {
    width: 27%;
    text-align: left;
  }
  tbody {
    font-size: 14px;
  }
  .graph1 {
    width: 83%;
  }
  .currenciesWrapper__grid__section3 {
    padding: 6% 5% 3% 4%;
  }
  .currenciesWrapper__grid__section2 {
    grid-column: 1/3;
    width: 89%;
  }
  .currenciesWrapper__grid__section2__form__field1,
.currenciesWrapper__grid__section2__form__field2 {
    justify-content: space-between;
  }
  .currenciesWrapper__grid__section2__form__field1__select,
.currenciesWrapper__grid__section2__form__field2__select {
    width: 20vw;
    height: 4vh;
  }
  .currenciesWrapper__grid__section2__form__field3__input3 {
    width: 47vw;
    height: 4vh;
  }
  .currenciesWrapper__grid__section2__form__field3 {
    align-items: center;
  }
}
@media (max-width: 1023px) {
  body {
    min-width: 768px;
    max-width: 100%;
  }
  .entryWind {
    width: 62vw;
  }
  .form__btn {
    width: 14vw;
  }
  .divHeaderListWrapper {
    position: relative;
    width: 62%;
  }
  .divHeaderList {
    gap: 10px;
  }
  .divHeaderListLi1Btn,
.divHeaderListLi2Btn,
.divHeaderListLi3Btn,
.divHeaderListLi4Btn {
    font-size: 14px;
  }
  .accountsCardWrapper__card {
    width: 38.5vw;
    height: 160px;
  }
  .bodyAccount__requisite__title {
    font-size: 32px;
  }
  .bodyAccount__requisite__number {
    font-size: 20px;
  }
  .bodyAccount__dynamic {
    width: 88%;
  }
  .bodyAccount__transfer__form__number-wrapper,
.bodyAccount__transfer__form__sum-wrapper {
    flex-direction: column;
  }
  .bodyAccount__transfer__form__number__label,
.bodyAccount__transfer__form__sum__label {
    margin-bottom: 1vh;
  }
  .bodyAccount__transfer__form__title,
.bodyAccount__dynamic__title,
.bodyAccount__history__title {
    text-align: center;
  }
  .bodyAccount__transfer__form__sum__input,
.bodyAccount__transfer__form__number__select {
    width: 100%;
  }
  .bodyAccount__transfer__form,
.bodyAccount__dynamic {
    height: auto;
    width: 90%;
  }
  .bodyAccount {
    gap: 6vh 5vw;
  }
  .bodyAccount__history__table thead {
    font-size: 16px;
    height: 50px;
  }
  tbody {
    font-size: 12px;
  }
  .bodyAccount__history__table__thFrom,
.bodyAccount__history__table__thTo {
    width: 34%;
  }
  .bodyAccount__dynamic__graph #myChart {
    height: 185px;
    width: 310px;
  }
  .bodyAccount__dynamic {
    height: auto;
    width: 84%;
  }
  .bodyAccount__dynamic__title {
    margin-bottom: 6vh;
  }
  .currenciesWrapper__grid__section1__title {
    padding: 0;
    text-align: center;
  }
  .currenciesWrapper__grid__section3 {
    height: 93%;
  }
  .currenciesWrapper__grid__section3__list {
    padding: 0% 3%;
  }
  .currenciesWrapper__grid__section2__form__field3__input3 {
    width: 45vw;
  }
}
@media (max-width: 767px) {
  body {
    min-width: 577px;
    max-width: 100%;
  }
  .entryWind {
    width: 68vw;
    border-radius: 35px;
  }
  .form__login {
    justify-content: space-between;
  }
  .form__password {
    justify-content: space-between;
  }
  .form__btn {
    margin: 0 auto 6vh;
    width: 20vw;
  }
  .headerEntry {
    flex-direction: column;
    margin-bottom: 3vh;
    height: 150px;
  }
  .headerEntry__img {
    width: 20%;
    margin: 0 auto;
  }
  .accountsHeader__sort {
    flex-direction: column;
  }
  .accountsHeader__sort__select {
    width: 100%;
  }
  .accountsCardWrapper__card {
    width: 100%;
    height: 180px;
  }
  .accountsCardWrapper__card__btn {
    right: 40%;
  }
  .divHeaderListWrapper {
    position: relative;
    margin: 0 auto;
    width: 83%;
  }
  .divHeaderList {
    margin: 0;
    padding: 0;
  }
  .bodyAccount {
    grid-template-columns: 1fr;
  }
  .bodyAccount__requisite {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .bodyAccount__requisite__title {
    font-size: 32px;
    order: 1;
    text-align: center;
    grid-column: 1/3;
  }
  .bodyAccount__requisite__number {
    font-size: 20px;
    order: 2;
    text-align: center;
    grid-column: 1/3;
  }
  .bodyAccount__requisite__balance {
    font-size: 20px;
    order: 3;
    width: 45vw;
    display: flex;
    margin: 0 auto;
    grid-column: 1/3;
    flex-direction: row;
    justify-content: space-between;
  }
  .bodyAccount__transfer {
    order: 2;
    grid-column: 1/3;
    width: 95%;
  }
  .bodyAccount__dynamic {
    order: 3;
    grid-column: 1/3;
    width: 84%;
  }
  #myChart {
    height: auto;
    width: 100%;
  }
  tbody {
    font-size: 11px;
  }
  .bodyAccount__history__table__thFrom,
.bodyAccount__history__table__thTo {
    width: 37%;
  }
  .bodyAccount__history__table__thDate {
    width: 20%;
    text-align: left;
  }
  .bodyAccount__requisite__btn {
    grid-column: 1/3;
    order: 4;
    padding: 10px 35px;
    margin: 0 auto;
    position: relative;
  }
  .currenciesWrapper__grid__section1 {
    grid-column: 1/3;
    width: 90%;
  }
  .currenciesWrapper__grid__section2 {
    order: 2;
    width: 90%;
    margin-bottom: 2vh;
  }
  .currenciesWrapper__grid__section3 {
    order: 3;
    grid-column: 1/3;
    width: 90%;
  }
  section svg {
    width: 10vw;
  }
}
@media (max-width: 576px) {
  body {
    min-width: 320px;
    max-width: 100%;
  }
  .headerEntry {
    position: relative;
    height: 25%;
    margin-bottom: 3vh;
  }
  .headerEntry__img {
    padding: 5% 0;
    margin: 0 auto;
    display: block;
  }
  .entryWind {
    width: 90vw;
    border-radius: 30px;
  }
  .entryWind__title {
    font-size: 30px;
  }
  .form__login {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1.5vh;
  }
  .entryWind__form__login__input {
    width: 88%;
  }
  .form__login-label {
    width: auto;
    margin: 0 auto;
  }

  .entryWind__form__password__input {
    width: 88%;
  }
  .form__password-label {
    width: auto;
    margin: 0 auto;
  }
  .form__btn {
    width: 88%;
  }
  .divHeaderList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
  }
  .divHeaderListLi1Btn,
.divHeaderListLi2Btn,
.divHeaderListLi3Btn,
.divHeaderListLi4Btn {
    width: 42vw;
  }
  .accountsHeader {
    flex-direction: column;
  }
  .accountsHeader__sort__title {
    text-align: center;
  }
  .accountsHeader__sort__select {
    margin-bottom: 2vh;
  }
  .accountsCardWrapper__card {
    height: 200px;
  }
  .accountsCardWrapper__card__btn {
    right: 32vw;
  }
  .bodyAccount__requisite__balance {
    width: 100%;
  }
  .bodyAccount__dynamic__graph {
    width: 100%;
    height: 15vh;
  }
  .bodyAccount__history {
    padding: 2% 4%;
    overflow-x: scroll;
  }
  .bodyAccount__history__table {
    width: 600px;
  }
  .bodyAccount__dynamic__title2 {
    text-align: center;
    margin-bottom: 5vh;
  }
  .currenciesWrapper__title {
    font-size: 32px;
    text-align: center;
  }
  .currenciesWrapper__grid__section1 {
    width: 92%;
  }
  .currenciesWrapper__grid__section1__list {
    list-style: none;
    padding: 0 0 0 5%;
  }
  .currenciesWrapper__grid__section1__list__li {
    font-size: 16px;
  }
  .currenciesWrapper__grid__section2__title {
    text-align: center;
  }
  .currenciesWrapper__grid__section2__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
  }
  .currenciesWrapper__grid__section2__form__field1__select, .currenciesWrapper__grid__section2__form__field2__select {
    width: 70vw;
  }
  .currenciesWrapper__grid__section2__form__button {
    order: 4;
    height: 5vh;
  }
  .currenciesWrapper__grid__section2__form__field3__input3 {
    width: 60vw;
  }
  .currenciesWrapper__grid__section3__list__li {
    font-size: 16px;
  }
  .mapTitle {
    padding: 0;
    font-size: 30px;
    text-align: center;
  }
  section svg {
    width: 10vw;
  }
}
@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu");
  src: url("./assets/fonts/UbuntuBold.woff2") format("woff2"), url("./assets/fonts/UbuntuBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu");
  src: url("./assets/fonts/UbuntuLight.woff2") format("woff2"), url("./assets/fonts/UbuntuLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu");
  src: url("./assets/fonts/UbuntuMedium.woff2") format("woff2"), url("./assets/fonts/UbuntuMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu");
  src: url("./assets/fonts/UbuntuRegular.woff2") format("woff2"), url("./assets/fonts/UbuntuRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p,
div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  min-width: 1200px;
  max-width: 100%;
  font-family: "Ubuntu", sans-serif;
  margin: 0 auto;
}

.container {
  width: 100vw;
  margin: 0 auto;
}

.headerEntry {
  height: 100px;
  width: 100%;
  background-color: #116ACC;
  margin-bottom: 32vh;
}
.headerEntry__img {
  padding: 2.2% 3.5%;
}

.entryWind {
  margin: 0 auto;
  width: 35vw;
  border-radius: 57px;
  background-color: #F3F4F6;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.entryWind__title {
  text-align: center;
  padding: 10% 0 0 0;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 4vh;
}
.entryWind__form {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 8%;
  gap: 20px;
}
.form__login {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.form__login-label {
  width: 16%;
}
.entryWind__form__login__input {
  width: 66%;
  height: 24px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid #6B7280;
  outline: none;
  transition: 0.3s background-color ease-in-out, 0.3s border ease-in-out;
}
.entryWind__form__login__input:focus-visible {
  background-color: #A0C3FF;
  border: 2px solid #116ACC;
}
.entryWind__form__login__input:hover {
  background-color: #A0C3FF;
  border-color: #116ACC;
  cursor: pointer;
}

.form__password-label {
  width: 16%;
}
.entryWind__form__password__input {
  width: 66%;
  height: 24px;
  padding: 10px 15px;
  border-radius: 10px;
  border-color: #6B7280;
  margin-bottom: 1vh;
  outline: none;
  transition: 0.3s background-color ease-in-out, 0.3s border ease-in-out;
}
.entryWind__form__password__input:focus-visible {
  background-color: #A0C3FF;
  border: 2px solid #116ACC;
}
.entryWind__form__password__input:hover {
  background-color: #A0C3FF;
  border-color: #116ACC;
  cursor: pointer;
}
.form__btn {
  background-color: #116ACC;
  outline: none;
  border-radius: 7px;
  color: #FFFFFF;
  border-color: transparent;
  cursor: pointer;
  width: 6vw;
  padding: 15px;
  text-align: center;
  margin-left: 75px;
  margin-bottom: 6vh;
  transition: 0.3s outline ease-in-out;
}
.form__btn:hover {
  background-color: #2F80ED;
  outline: none;
}
.form__btn:active {
  background-color: #1a4d8f;
  outline: none;
}

.preloader {
  display: block;
  margin: 0 auto;
}

.divHeaderListWrapper {
  padding: 0.7% 3.7%;
  width: 38%;
}

.divHeaderList {
  display: flex;
  justify-content: space-between;
}

.divHeaderListLi1Btn,
.divHeaderListLi2Btn,
.divHeaderListLi3Btn,
.divHeaderListLi4Btn {
  padding: 14px 24px;
  border-radius: 7px;
  color: #116ACC;
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  border-color: transparent;
  cursor: pointer;
  transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out, 0.3s border-color ease-in-out;
}

.divHeaderListLi1Btn:hover,
.divHeaderListLi2Btn:hover,
.divHeaderListLi3Btn:hover,
.divHeaderListLi4Btn:hover {
  background: #B3CEE2;
}

.divHeaderListLi1Btn:active,
.divHeaderListLi2Btn:active,
.divHeaderListLi3Btn:active,
.divHeaderListLi4Btn:active {
  background-color: #A0C3FF;
  color: #116ACC;
  border-color: transparent;
}

.divHeaderListLi2Btn {
  background-color: #A0C3FF;
}

.accountsHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 3.5%;
  margin-bottom: 6vh;
}
.accountsHeader__sort {
  display: flex;
  justify-content: space-between;
  gap: 2.5vw;
}
.accountsHeader__sort__title {
  font-size: 36px;
  font-weight: 700;
}
.accountsHeader__sort__select {
  width: 20.5vw;
  height: 5vh;
  padding: 0 2%;
  font-size: 16px;
  border-radius: 7px;
  border: 1px solid #116ACC;
  cursor: pointer;
}
.accountsHeader__new {
  background-color: #116ACC;
  color: #FFFFFF;
  padding: 14px 34px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 7px;
  border-color: transparent;
  cursor: pointer;
  transition: 0.3s color ease-in-out, 0.3s background-color ease-in-out;
}
.accountsHeader__new:hover {
  background-color: #2F80ED;
  outline: none;
}
.accountsHeader__new:active {
  background-color: #1a4d8f;
  outline: none;
}

.accountsCardWrapper {
  display: flex;
  padding: 0 3.5%;
  flex-wrap: wrap;
  gap: 6vh 0;
  justify-content: space-between;
}
.accountsCardWrapper__card {
  width: 25.5vw;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  padding: 16px;
  position: relative;
}
.accountsCardWrapper__card__number {
  font-size: 18px;
  margin-bottom: 1vh;
  font-weight: 500;
}
.accountsCardWrapper__card__balance {
  font-size: 14px;
  margin-bottom: 4vh;
}
.accountsCardWrapper__card__textTranz {
  font-size: 14px;
  font-weight: 600;
}
.accountsCardWrapper__card__date {
  font-size: 14px;
}
.accountsCardWrapper__card__btn {
  position: absolute;
  right: 5%;
  top: 50%;
  padding: 16px 24px;
  background-color: #116ACC;
  color: #FFFFFF;
  border-radius: 7px;
  border-color: transparent;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s color ease-in-out, 0.3s background-color ease-in-out;
}
.accountsCardWrapper__card__btn:hover {
  background-color: #2F80ED;
  outline: none;
}
.accountsCardWrapper__card__btn:active {
  background-color: #1a4d8f;
  outline: none;
}

.bodyAccount {
  padding: 0 3%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6vh 0;
}
.bodyAccount__requisite {
  grid-column: 1/3;
  order: 1;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  gap: 4vh;
}
.bodyAccount__requisite__title {
  font-size: 36px;
  grid-column: 1/2;
  order: 1;
}
.bodyAccount__requisite__btn {
  grid-column: 2/3;
  order: 2;
  position: absolute;
  right: 0;
  background-color: #116ACC;
  outline: none;
  border-radius: 7px;
  color: #FFFFFF;
  border-color: transparent;
  cursor: pointer;
  padding: 10px 35px;
  transition: 0.3s outline ease-in-out, 0.3s background-color ease-in-out;
}
.bodyAccount__requisite__btn__href {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.bodyAccount__requisite__number {
  grid-column: 1/2;
  order: 3;
  font-size: 34px;
}
.bodyAccount__requisite__balance {
  grid-column: 2/3;
  order: 4;
  display: flex;
  justify-content: flex-end;
}
.bodyAccount__requisite__balance__title {
  font-size: 22px;
  margin-right: 3vw;
  font-weight: 600;
}
.bodyAccount__requisite__balance__sum {
  font-size: 22px;
  font-weight: 600;
}
.bodyAccount .bodyAccount__requisite__btn:focus-visible,
.bodyAccount .bodyAccount__requisite__btn:hover,
.bodyAccount .bodyAccount__transfer__form__btn:focus-visible,
.bodyAccount .bodyAccount__transfer__form__btn:hover {
  background-color: #2F80ED;
  outline: none;
}
.bodyAccount .bodyAccount__requisite__btn:active,
.bodyAccount .bodyAccount__transfer__form__btn:active {
  background-color: #1a4d8f;
  outline: none;
}
.bodyAccount__transfer {
  order: 2;
  grid-column: 1/2;
}
.bodyAccount__transfer__form {
  border-radius: 50px;
  background-color: #F3F4F6;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 30vh;
  padding: 3% 8%;
}
.bodyAccount__transfer__form__title {
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 3vh;
}
.bodyAccount__transfer__form__number-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 3vh;
  justify-content: space-between;
}
.bodyAccount__transfer__form__number__select {
  width: 300px;
  height: 6vh;
  padding: 0 2%;
  border-radius: 10px;
}
.bodyAccount__transfer__form__sum-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3vh;
}
.bodyAccount__transfer__form__sum__label {
  text-align: right;
}
.bodyAccount__transfer__form__sum__input {
  width: 278px;
  height: 5vh;
  padding: 0 2%;
  border-radius: 10px;
  outline: none;
  border: 1px solid;
  transition: 0.3s background-color ease-in-out, 0.3s border-color ease-in-out, 0.3s border ease-in-out;
}
.bodyAccount__transfer__form__sum__input:focus-visible {
  background-color: #A0C3FF;
  border: 2px solid #116ACC;
  outline: none;
}
.bodyAccount__transfer__form__sum__input:hover {
  background-color: #A0C3FF;
  border-color: #116ACC;
  cursor: pointer;
}
.bodyAccount__transfer__form__btn {
  background-color: #116ACC;
  outline: none;
  border-radius: 7px;
  color: #FFFFFF;
  border-color: transparent;
  cursor: pointer;
  padding: 10px 35px;
  position: relative;
  margin: 0 auto;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.3s outline ease-in-out, 0.3s background-color ease-in-out;
}
.bodyAccount__dynamic {
  order: 3;
  grid-column: 2/3;
  border-radius: 50px;
  background-color: #F3F4F6;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 30vh;
  padding: 4% 5%;
}
.bodyAccount__dynamic__title {
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 3vh;
}
.bodyAccount__history {
  order: 4;
  grid-column: 1/3;
  border-radius: 50px;
  background-color: #F3F4F6;
  padding: 1% 4%;
}
.bodyAccount__history__title {
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 2vh;
}
.bodyAccount__history__table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  overflow: hidden;
}
.bodyAccount__history__table thead {
  background-color: #116ACC;
  font-size: 19px;
  text-align: center;
  vertical-align: middle;
  height: 65px;
}
.bodyAccount__history__table__thFrom {
  width: 21%;
}
.bodyAccount__history__table__thTo {
  width: 23%;
  text-align: left;
}
.bodyAccount__history__table__thSum {
  width: 15%;
  text-align: left;
}
.bodyAccount__history__table__thDate {
  width: 20%;
  text-align: left;
}
tbody {
  text-align: left;
}
tbody tr {
  height: 65px;
  border-bottom: 1px solid rgba(0, 82, 255, 0.1);
}

.bodyAccount__dynamic__graph {
  width: 100%;
  height: 24vh;
}

#myChart {
  width: 620px;
  height: 24vh;
  margin: 0 auto;
}

.graph1 {
  grid-column: 1/3;
}

.graph2 {
  order: 3;
  grid-column: 1/3;
  border-radius: 50px;
  background-color: #F3F4F6;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 30vh;
  padding: 4% 5%;
}

.currenciesWrapper {
  padding: 0 3.5%;
}
.currenciesWrapper__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 3vh;
}
.currenciesWrapper__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.currenciesWrapper__grid__section1 {
  order: 1;
  grid-column: 1/2;
  border-radius: 50px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: 79%;
  padding: 8% 7% 0 1%;
  margin-bottom: 2vh;
}
.currenciesWrapper__grid__section1__title {
  padding: 0 7%;
  font-size: 21px;
}
.currenciesWrapper__grid__section1__list__li {
  border-bottom: 1px dotted #C2C2C2;
  position: relative;
  padding: 0;
  margin-bottom: 2vh;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
.currenciesWrapper__grid__section2 {
  order: 3;
  grid-column: 1/2;
  border-radius: 50px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: 79%;
  padding: 6% 3% 5% 5%;
}
.currenciesWrapper__grid__section2__title {
  font-size: 21px;
  margin-bottom: 3vh;
}
.currenciesWrapper__grid__section2__form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4vh 2vw;
}
.currenciesWrapper__grid__section2__form__field1 {
  order: 1;
  grid-column: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.currenciesWrapper__grid__section2__form__field1__select {
  width: 9vw;
  height: 3vh;
  border-radius: 7px;
}
.currenciesWrapper__grid__section2__form__field2 {
  order: 2;
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.currenciesWrapper__grid__section2__form__field2__select {
  width: 9vw;
  height: 3vh;
  border-radius: 7px;
}
.currenciesWrapper__grid__section2__form__field3 {
  order: 4;
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
}
.currenciesWrapper__grid__section2__form__field3__input3 {
  width: 19vw;
  border-radius: 7px;
  transition: 0.3s background-color ease-in-out, 0.3s border-color ease-in-out;
}
.currenciesWrapper__grid__section2__form__field3__input3:focus-visible {
  background-color: #A0C3FF;
  border: 2px solid #116ACC;
}
.currenciesWrapper__grid__section2__form__field3__input3:hover {
  background-color: #A0C3FF;
  border-color: #116ACC;
  cursor: pointer;
}
.currenciesWrapper__grid__section2__form__button {
  order: 3;
  grid-row: 1/3;
  grid-column: 3/4;
  font-size: 16px;
  background-color: #116ACC;
  outline: none;
  border-radius: 7px;
  color: #FFFFFF;
  border-color: transparent;
  cursor: pointer;
  transition: 0.3s background-color ease-in-out, 0.3s outline ease-in-out;
}
.currenciesWrapper__grid__section2__form__button:focus-visible {
  background-color: #2F80ED;
  outline: none;
}
.currenciesWrapper__grid__section2__form__button:hover {
  background-color: #2F80ED;
  outline: none;
}
.currenciesWrapper__grid__section2__form__button:active {
  background-color: #1a4d8f;
  outline: none;
}
.currenciesWrapper__grid__section3 {
  order: 2;
  grid-column: 2/3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #F3F4F6;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 6% 3% 3% 2%;
  height: 90%;
}
.currenciesWrapper__grid__section3__title {
  text-align: center;
  font-size: 21px;
  margin-bottom: 1vh;
}
.currenciesWrapper__grid__section3__list__li {
  position: relative;
  padding: 0;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 400;
}
.currenciesWrapper__grid__section3__list__li__plus {
  border-bottom: 1px dotted #76CA66;
}
.currenciesWrapper__grid__section3__list__li__minus {
  border-bottom: 1px dotted #BA0000;
}
.currenciesWrapper__grid__section3__list__li:not(:last-child) {
  margin-bottom: 2vh;
}

#map1 {
  padding: 0 3%;
}

.mapTitle {
  padding: 0 3%;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 4vh;
}

@media (min-width: 1921px) {
  body {
    min-width: 1921px;
    max-width: 100%;
  }
  .container {
    width: 100vw;
    margin: 0 auto;
  }
  .headerEntry {
    height: 10%;
  }
  .accountsCardWrapper__card {
    height: 10%;
  }
  .bodyAccount__dynamic__graph {
    width: 100%;
    height: 27vh;
  }
  #myChart {
    width: 100%;
    height: 27vh;
    margin: 0 auto;
  }
  .bodyAccount__dynamic__title2 {
    margin-bottom: 7vh;
  }
  .currenciesWrapper__grid__section3 {
    height: 86%;
  }
  .currenciesWrapper__grid__section3__title {
    margin-bottom: 2vh;
  }
}
@media (max-width: 1199px) {
  body {
    min-width: 1024px;
    max-width: 100%;
  }
  .headerEntry {
    margin-bottom: 23vh;
  }
  .entryWind {
    width: 49vw;
  }
  .form__btn {
    width: 10vw;
  }
  .divHeaderListWrapper {
    position: relative;
    width: 50%;
  }
  .accountsCardWrapper__card {
    height: 180px;
  }
  .accountsCardWrapper__card__date {
    margin-bottom: 7vh;
  }
  .accountsCardWrapper__card__btn {
    position: absolute;
    right: 33%;
    top: 70%;
  }
  .bodyAccount__transfer__form__sum__label {
    text-align: left;
  }
  .bodyAccount__transfer__form__sum__input {
    width: 20vw;
  }
  .bodyAccount__requisite__number {
    font-size: 28px;
  }
  .bodyAccount__transfer__form,
.bodyAccount__dynamic {
    padding: 5% 8%;
  }
  .bodyAccount__history {
    padding: 2% 4%;
  }
  .bodyAccount__history__table__thFrom {
    width: 26%;
    text-align: left;
    padding: 0 1%;
  }
  .bodyAccount__history__table__thTo {
    width: 27%;
    text-align: left;
  }
  tbody {
    font-size: 14px;
  }
  .graph1 {
    width: 83%;
  }
  .currenciesWrapper__grid__section3 {
    padding: 6% 5% 3% 4%;
  }
  .currenciesWrapper__grid__section2 {
    grid-column: 1/3;
    width: 89%;
  }
  .currenciesWrapper__grid__section2__form__field1,
.currenciesWrapper__grid__section2__form__field2 {
    justify-content: space-between;
  }
  .currenciesWrapper__grid__section2__form__field1__select,
.currenciesWrapper__grid__section2__form__field2__select {
    width: 20vw;
    height: 4vh;
  }
  .currenciesWrapper__grid__section2__form__field3__input3 {
    width: 47vw;
    height: 4vh;
  }
  .currenciesWrapper__grid__section2__form__field3 {
    align-items: center;
  }
}
@media (max-width: 1023px) {
  body {
    min-width: 768px;
    max-width: 100%;
  }
  .entryWind {
    width: 62vw;
  }
  .form__btn {
    width: 14vw;
  }
  .divHeaderListWrapper {
    position: relative;
    width: 62%;
  }
  .divHeaderList {
    gap: 10px;
  }
  .divHeaderListLi1Btn,
.divHeaderListLi2Btn,
.divHeaderListLi3Btn,
.divHeaderListLi4Btn {
    font-size: 14px;
  }
  .accountsCardWrapper__card {
    width: 38.5vw;
    height: 160px;
  }
  .bodyAccount__requisite__title {
    font-size: 32px;
  }
  .bodyAccount__requisite__number {
    font-size: 20px;
  }
  .bodyAccount__dynamic {
    width: 88%;
  }
  .bodyAccount__transfer__form__number-wrapper,
.bodyAccount__transfer__form__sum-wrapper {
    flex-direction: column;
  }
  .bodyAccount__transfer__form__number__label,
.bodyAccount__transfer__form__sum__label {
    margin-bottom: 1vh;
  }
  .bodyAccount__transfer__form__title,
.bodyAccount__dynamic__title,
.bodyAccount__history__title {
    text-align: center;
  }
  .bodyAccount__transfer__form__sum__input,
.bodyAccount__transfer__form__number__select {
    width: 100%;
  }
  .bodyAccount__transfer__form,
.bodyAccount__dynamic {
    height: auto;
    width: 90%;
  }
  .bodyAccount {
    gap: 6vh 5vw;
  }
  .bodyAccount__history__table thead {
    font-size: 16px;
    height: 50px;
  }
  tbody {
    font-size: 12px;
  }
  .bodyAccount__history__table__thFrom,
.bodyAccount__history__table__thTo {
    width: 34%;
  }
  .bodyAccount__dynamic__graph #myChart {
    height: 185px;
    width: 310px;
  }
  .bodyAccount__dynamic {
    height: auto;
    width: 84%;
  }
  .bodyAccount__dynamic__title {
    margin-bottom: 6vh;
  }
  .currenciesWrapper__grid__section1__title {
    padding: 0;
    text-align: center;
  }
  .currenciesWrapper__grid__section3 {
    height: 93%;
  }
  .currenciesWrapper__grid__section3__list {
    padding: 0% 3%;
  }
  .currenciesWrapper__grid__section2__form__field3__input3 {
    width: 45vw;
  }
}
@media (max-width: 767px) {
  body {
    min-width: 577px;
    max-width: 100%;
  }
  .entryWind {
    width: 68vw;
    border-radius: 35px;
  }
  .form__login {
    justify-content: space-between;
  }
  .form__password {
    justify-content: space-between;
  }
  .form__btn {
    margin: 0 auto 6vh;
    width: 20vw;
  }
  .headerEntry {
    flex-direction: column;
    margin-bottom: 3vh;
    height: 150px;
  }
  .headerEntry__img {
    width: 20%;
    margin: 0 auto;
  }
  .accountsHeader__sort {
    flex-direction: column;
  }
  .accountsHeader__sort__select {
    width: 100%;
  }
  .accountsCardWrapper__card {
    width: 100%;
    height: 180px;
  }
  .accountsCardWrapper__card__btn {
    right: 40%;
  }
  .divHeaderListWrapper {
    position: relative;
    margin: 0 auto;
    width: 83%;
  }
  .divHeaderList {
    margin: 0;
    padding: 0;
  }
  .bodyAccount {
    grid-template-columns: 1fr;
  }
  .bodyAccount__requisite {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .bodyAccount__requisite__title {
    font-size: 32px;
    order: 1;
    text-align: center;
    grid-column: 1/3;
  }
  .bodyAccount__requisite__number {
    font-size: 20px;
    order: 2;
    text-align: center;
    grid-column: 1/3;
  }
  .bodyAccount__requisite__balance {
    font-size: 20px;
    order: 3;
    width: 45vw;
    display: flex;
    margin: 0 auto;
    grid-column: 1/3;
    flex-direction: row;
    justify-content: space-between;
  }
  .bodyAccount__transfer {
    order: 2;
    grid-column: 1/3;
    width: 95%;
  }
  .bodyAccount__dynamic {
    order: 3;
    grid-column: 1/3;
    width: 84%;
  }
  #myChart {
    height: auto;
    width: 100%;
  }
  tbody {
    font-size: 11px;
  }
  .bodyAccount__history__table__thFrom,
.bodyAccount__history__table__thTo {
    width: 37%;
  }
  .bodyAccount__history__table__thDate {
    width: 20%;
    text-align: left;
  }
  .bodyAccount__requisite__btn {
    grid-column: 1/3;
    order: 4;
    padding: 10px 35px;
    margin: 0 auto;
    position: relative;
  }
  .currenciesWrapper__grid__section1 {
    grid-column: 1/3;
    width: 90%;
  }
  .currenciesWrapper__grid__section2 {
    order: 2;
    width: 90%;
    margin-bottom: 2vh;
  }
  .currenciesWrapper__grid__section3 {
    order: 3;
    grid-column: 1/3;
    width: 90%;
  }
  section svg {
    width: 10vw;
  }
}
@media (max-width: 576px) {
  body {
    min-width: 320px;
    max-width: 100%;
  }
  .headerEntry {
    position: relative;
    height: 25%;
    margin-bottom: 3vh;
  }
  .headerEntry__img {
    padding: 5% 0;
    margin: 0 auto;
    display: block;
  }
  .entryWind {
    width: 90vw;
    border-radius: 30px;
  }
  .entryWind__title {
    font-size: 30px;
  }
  .form__login {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1.5vh;
  }
  .entryWind__form__login__input {
    width: 88%;
  }
  .entryWind__form__login__label {
    width: auto;
    margin: 0 auto;
  }
 
  .entryWind__form__password__input {
    width: 88%;
  }
  .form__password-label {
    width: auto;
    margin: 0 auto;
  }
  .form__btn {
    width: 88%;
  }
  .divHeaderList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
  }
  .divHeaderListLi1Btn,
.divHeaderListLi2Btn,
.divHeaderListLi3Btn,
.divHeaderListLi4Btn {
    width: 42vw;
  }
  .accountsHeader {
    flex-direction: column;
  }
  .accountsHeader__sort__title {
    text-align: center;
  }
  .accountsHeader__sort__select {
    margin-bottom: 2vh;
  }
  .accountsCardWrapper__card {
    height: 200px;
  }
  .accountsCardWrapper__card__btn {
    right: 32vw;
  }
  .bodyAccount__requisite__balance {
    width: 100%;
  }
  .bodyAccount__dynamic__graph {
    width: 100%;
    height: 15vh;
  }
  .bodyAccount__history {
    padding: 2% 4%;
    overflow-x: scroll;
  }
  .bodyAccount__history__table {
    width: 600px;
  }
  .bodyAccount__dynamic__title2 {
    text-align: center;
    margin-bottom: 5vh;
  }
  .currenciesWrapper__title {
    font-size: 32px;
    text-align: center;
  }
  .currenciesWrapper__grid__section1 {
    width: 92%;
  }
  .currenciesWrapper__grid__section1__list {
    list-style: none;
    padding: 0 0 0 5%;
  }
  .currenciesWrapper__grid__section1__list__li {
    font-size: 16px;
  }
  .currenciesWrapper__grid__section2__title {
    text-align: center;
  }
  .currenciesWrapper__grid__section2__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
  }
  .currenciesWrapper__grid__section2__form__field1__select, .currenciesWrapper__grid__section2__form__field2__select {
    width: 70vw;
  }
  .currenciesWrapper__grid__section2__form__button {
    order: 4;
    height: 5vh;
  }
  .currenciesWrapper__grid__section2__form__field3__input3 {
    width: 60vw;
  }
  .currenciesWrapper__grid__section3__list__li {
    font-size: 16px;
  }
  .mapTitle {
    padding: 0;
    font-size: 30px;
    text-align: center;
  }
  section svg {
    width: 10vw;
  }
}/*# sourceMappingURL=style.css.map */